<nav id="sidebar">
	<div class="custom-menu">
		<button type="button" id="sidebarCollapse" class="btn btn-primary">
			<i class="fa fa-bars"></i>
			<span class="sr-only">Toggle Menu</span>
		</button>
	</div>
	<div class="p-4">
		<h1><a href="index.html" class="logo">MongoDbTest <span>Admin Paneli</span></a></h1>
		<ul class="list-unstyled components mb-5">
			<li class="active">
				<a href="#"><span class="fa fa-home mr-3"></span> Dashboard</a>
			</li>
			<li>
				<a href="/Category/Index"><span class="fa fa-user mr-3"></span> Kategoriler</a>
			</li>
			<li>
				<a href="/Admin/Skill/Index"><span class="fa fa-briefcase mr-3"></span> Yetkinlikler</a>
			</li>
			<li>
				<a href="/Admin/Service/Index"><span class="fa fa-briefcase mr-3"></span> Hizmetler</a>
			</li>
			<li>
				<a href="/Admin/Education/Index"><span class="fa fa-sticky-note mr-3"></span> Eğitimler</a>
			</li>
			<li>
				<a href="/Admin/Team/Index"><span class="fa fa-user mr-3"></span> Takım</a>
			</li>
			<li>
				<a href="/Admin/Testimonial/Index"><span class="fa fa-user mr-3"></span> Referanslar</a>
			</li>
			<li>
				<a href="/Admin/Message/Index"><span class="fa fa-message mr-3"></span> Mesajlar</a>
			</li>
			<li>
				<a href="/Admin/Contact/Index"><span class="fa fa-sticky-note mr-3"></span> İletişim</a>
			</li>
			<li>
				<a href="/Admin/SocialMedia/Index"><span class="fa fa-account mr-3"></span> Hesaplar</a>
			</li>
			<li>
				<a href="/Admin/Map/Index"><span class="fa fa-map mr-3"></span> Lokasyon</a>
			</li>
		</ul>

		<div class="footer">
			<p>
				<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
				Copyright &copy;<script>document.write(new Date().getFullYear());</script> | Tüm Hakları Saklıdır.
				<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
			</p>
		</div>

	</div>
</nav>