@model ResultContactDTO

<p class="mb-2">My office:</p>
<h3 class="fw-bold">@Model.Address</h3>
<hr class="w-100">
<p class="mb-2">Call me:</p>
<h3 class="fw-bold">@Model.Phone</h3>
<hr class="w-100">
<p class="mb-2">Mail me:</p>
<h3 class="fw-bold">@Model.Email</h3>
<hr class="w-100">